



p {
  color:white;
  
}


/*~~~~~~~~~~~~~~~header DONW~~~~~~~~~~~~~~~*/


/*header_upon DOWN*/
.header_upon {
  
  background-color: rgb(26, 26, 26);

}

.header_upon_flex{
  font-size: 13px;
  padding:  0;
  
}

.header_upon_links{
  display: flex;
  flex-direction: row;
  padding: 17px 0;
}

.header_upon_links p {
  color: white;
  margin: 0 5px;
}


.header_4color1:hover .header_upon_item1{
  color:rgb(255, 107, 107) ;
  text-decoration: none;
}
.header_4color2:hover .header_upon_item2{
  color:rgb(255, 107, 107) ;
  text-decoration: none;
}
.header_4color3:hover .header_upon_item3{
  color:rgb(255, 107, 107) ;
  text-decoration: none;
}
.header_4color4:hover .header_upon_item4{
  color:rgb(255, 107, 107) ;
  text-decoration: none;
}
.header_4color5:hover .header_upon_item5{
  color:rgb(255, 107, 107) ;
  text-decoration: none;
}
.header_4color6:hover .header_upon_item6{
  color:rgb(255, 107, 107) ;
  text-decoration: none;
}


.header_upon_net {
  display: flex;
  
  align-items: center;
  
}

.header_4color1 a {
  color:White;
}
.header_4color2 a {
  color:White;
}
.header_4color3 a {
  color:White;
}
.header_4color4 a {
  color:White;
}
.header_4color5 a {
  color:White;
}
.header_4color6 a {
  color:White;
}


.header_upon_item1 .header_upon_item2 .header_upon_item3 .header_upon_item4 .header_upon_item5 {
  color:white;
  text-decoration: none;
}

.header_4color5{
  margin: 0 10px;
}



@media screen and (max-width: 767px) {

  .header_upon_links {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

}

@media screen and (max-width: 423px) {
  .header_upon_links {
    display: flex;
    flex-direction: column;

  }

  .header_4color1 {
    margin-bottom: 20px
  }

  .header_4color2 {
    margin-bottom: 20px;
  }

  .header_visibility {
    display: none;
  }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~header_upon UP*/




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~header_under DONW*/


.header_under{
  margin-top: 47px;
 
  
 
  
  

}

.header_under_flex {
  display: flex;
  align-items: center;
  padding-bottom: 47px;
  
  
}




.header_under_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo {
  width:200px;
}


.header_under_right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
}


.header_under_4color1 , .header_under_4color2, .header_under_4color3 , .header_under_4color4, .header_under_4color5 , .header_under_4color6, .header_under_4color7 , .header_under_item8 , .header_under_item9 {
  margin: 0 18px;
}

.header_under_4color1:hover .header_under_item1 {color:rgb(255, 107, 107); text-decoration: none;}

.header_under_4color8:hover .header_under_item8 {color:rgb(255, 107, 107);text-decoration: none;}


.header_under_4color1 a {color:black;}


.header_under_item8  {color:rgb(255, 107, 107);}



@media screen and (min-width: 768px) and (max-width: 1199px) {

  .header_under_4color1 {
    text-align: center;
  }

  .header_under_right {
    padding-top: 20px;
  }




}

@media screen and (max-width: 767px) {

  .header_under_4color1 {
    margin-bottom: 10px;
  }

}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~header_under UP/





/*~~~~~~~~~~~~~~~header UP~~~~~~~~~~~~~~~*/


.you_here {
  background: rgb(0, 0, 0);
}



.you_here_name p {
 margin-top: 70px;
 text-transform: uppercase;
 font-size: 33px;
 
}

.you_here_link:hover .you_here_link_item {
  color: white;
  text-decoration: none;
}

.you_here_link_item {
  font-size: 16px;
  color:white;
}

.you_here_line {
  display: inline-block;

  background: white;
  height: 30px;
  width: 2px;
  margin: 0 10px;
}

.you_here_link_text {
  color: pink;
  font-size: 16px;
  margin-left: 30px;
}

.you_here_page {
  color: whitesmoke;
  font-size: 16px;
}

.you_here_text {
  margin-bottom: 90px;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~you here UP*/





/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~best DONW*/

.best_Flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  color: black;

  margin-top: 125px;

}


.best_h2{
  font-size: 30px;
  text-transform: uppercase;
}


.best_lines{
  margin-top:15px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.line1{
  content: "";
  display: block;
  width: 60px;
  height: 0.5px;
  background-color: rgb(99, 99, 99);
  margin:0 20px;
}

.line2{
  content: "";
  display: block;
  width: 60px;
  height: 0.5px;
  background-color: rgb(99, 99, 99);
  margin:0 20px;
}



.best_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.best_block_img:hover .best_block_item{
  background: rgb(255, 107, 107);
  
}
.best_block_img:hover .best_block_item i{
  color:white; 
  
}



.best_block_item{
  display: block;
  border: 1px solid rgb(255, 107, 107);
  border-radius: 50%;
  border-style: dotted;
  width: 120px;
  height: 120px;
  background: rgb(255, 255, 255);

  text-align: center;
}

.best_block_item i{
  color: rgb(255, 107, 107);
  margin-top:39px;
}

.best_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
}


.best_block h3{
  font-size: 18px;
  color: black;
  margin-top:30px;
  margin-bottom:30px;
}

.best_block p{
  color:rgb(70, 70, 70);
  font-size: 15px;
}

.best_block_button:hover .best_block_button_item {
  background: #29b3ee;
  border: 2px solid #29b3ee;
  color:white;
  text-decoration: none;
}


.best_block_button{
  margin-top: 40px ;
  margin-bottom: 100px;

}

.best_block_button_item {
  display: inline-block;
  border: 2px solid #9fd7ef;
  background: #9fd7ef;
  padding: 10px 25px;
  color:white;
  border-radius: 7px;
  text-transform: uppercase;
  font-size:12px;
  
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~best UP*/




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~best part2 DOWN*/


.best_part2_intro p{
  margin-top: 70px;
  font-size: 35px;
  text-transform: uppercase;
  color: rgb(24, 24, 24);
  
}

.best2_ls_color {
  color: black;
  font-size: 15px;
}

.best2_ls_text p{
  color: rgb(61, 61, 61);
  font-size: 14px;
  text-align: end;
}

.best2_main_part{
  margin-bottom: 70px;
}

.best2_ls_img img{
  width: 120px;
  border-radius: 50%;
  max-height: 125px;
}
.best2_ls_lght {
  margin-top: -15px;
}

.best2_link:hover .best2_link_item {
  color: pink;  /*black*/
}

.best2_link_item {
  color: pink;  /*black*/
  font-size: 15px;
}

.best2_line1 {
  display: block;
  background: rgb(182, 182, 182);
  padding: .1px 0;
  margin: 50px 0;
}

/*
.best2_rs_img {
  background:violet ;
}
.best2_ls_img {
  background: green;
}
*/

.best2_rs_img img {
  border-radius: 50%;
  width: 120px;
  max-height: 125px;
}


.best2_rs_text_color {
  color: black;
  font-size: 15px;
  
}

.best2_rs_text p {
  color:rgb(70, 70, 70);
  font-size:14px;
}


.best2_ls {
  padding: 80px 0;
  /*background: rgb(255, 196, 196); */
}

.best2_ms {
  /*background: rgb(193, 193, 255);*/
}

.best2_rs {
  padding: 80px 0;
  /*background: rgb(207, 255, 207);*/
}


.best2_ms_line_item {
  display: inline-block;
  background: rgb(182, 182, 182);
  padding: 250px .1px;
}


.best2_ms_img img {
  height: 505px ;
  max-height: 505px;
  max-width: 160px;
  margin: 0 10px;
}



@media screen and (max-width: 991px) {

.best2_ms_line_item {
  display: none;
}

.best2_ms_img img {
  max-width: 100%;
}

  
}

@media screen and (max-width: 418px) {
  .best_part2_intro p {
    font-size: 25px;
  }
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~best part2 UP*/



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~black DOWN*/



.black {
  background: black;
  
}

.black_under_part {
  margin-bottom: 40px;
}

.black_upon {
  padding-top:170px;
  padding-bottom: 50px;
}

.black_under{
  padding-bottom: 100px;
}

.black_upon_text p {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}

.black_under_part p{
  text-align: center;
  font-size: 15px;
}

.black_circle_1 {
  display: inline-block;
  background: black;
  border: 2px solid rgb(255, 118, 182);
  padding: 15px 15px;
  border-radius: 50%;

  margin-bottom: 20px;
}

.black_circle_2 {
  display: inline-block;
  background: rgb(148, 212, 255);
  border: 3px solid rgb(81, 116, 139);
  padding: 18px 23px;
  border-radius: 50%;
}

.black_circle_2:hover .black_circle_link_item {
  text-decoration: none;
  color:rgb(255, 118, 182);
}

.black_circle_2 a {
  color: black;
}


@media screen and (max-width: 532px) {
  .black_upon_text p {
    font-size: 25px;
  }
}
@media screen and (max-width: 448px) {
  .black_upon_text p {
    font-size: 20px;
  }
}


@media screen and (max-width: 364px) {
 .black_upon_text p{
   font-size: 15px;
 }

}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~black UP*/



/*purchase DONW*/




/*bg purchase DOWN*/
.purchase_upper {
  margin-top: 150px;
  margin-bottom: 70px;
}

.purchase_upper_text p {
  color: black;
  text-transform: uppercase;
  font-size: 35px;
}

.purchase_under_bg_block {
  display: inline-block;
  background: rgb(162, 221, 255);
  width: 360px;
  height: 360px;
  border-radius: 20px;
  
}

.purchase_under_bg_block2 {
  display: inline-block;
  background: rgb(255, 111, 159);
  width: 360px;
  height: 360px;
  border-radius: 20px;
  
}

.pu_bottom_arrow{
  position: absolute;
  z-index: 2;
  margin-top: 260px;
  display: inline-block;
  transform: rotate(45deg);
  padding: 70px 70px;
  background: rgb(162, 221, 255);
  border-radius: 30px;
}

.pu_bottom_arrow2{
  position: absolute;
  z-index: 2;
  margin-top: 260px;
  display: inline-block;
  transform: rotate(45deg);
  padding: 70px 70px;
  background: rgb(255, 111, 159);
  border-radius: 30px;
}
/*bg purchase UP*/




.purchase_under_text {
  position: absolute;
  z-index: 3;

}

.put_main {
  margin-top: 25px;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
}

.put_block {
  margin-top: 20px;
  display: inline-block;
  border: .1px solid white;
  background: rgb(162, 221, 255);
  
  padding: 5px 90px;
  padding-top: 20px;
}

.put_block2 {
  margin-top: 20px;
  display: inline-block;
  border: .1px solid white;
  background:  rgb(255, 111, 159);
  
  padding: 5px 90px;
  padding-top: 20px;
}

.put_money {
  font-size: 22px;
  margin-right: 7px;
}

.put_margin {
  
  margin-top: 7px;
}

.put_block p , .put_block2 p{
  color: black;
}

.put_links_item_link {
  margin-right: 10px;
}

.put_links_item_margin {
  margin-top: 10px;
}

.put_links_item_link_div:hover .put_links_item_link {
  color: rgb(255, 111, 159);
}

.put_links_item_link {
  color: white;
}

.put_links_circle {
  display: inline-block;
  background: white;
  padding:10px 15px;
  border-radius: 50%;
}

.put_links_circle:hover .put_links_circle_item {
  color:  rgb(255, 111, 159);
}

.put_links_circle_item {
  color:black;
}





@media screen and (max-width: 767px) {
  .put_item {
    margin-bottom: 150px;
  }

  .purchase_upper_text p{
    font-size:25px;
  }
}


@media screen and (min-width: 768px) and (max-width:991px) {

  .purchase_under_bg_block {
    display: inline-block;
    background: rgb(162, 221, 255);
    width: 230px;
    height: 360px;
    border-radius: 20px;
    
  }
  
  .purchase_under_bg_block2 {
    display: inline-block;
    background: rgb(255, 111, 159);
    width: 230px;
    height: 360px;
    border-radius: 20px;
    
  }

  .put_block {
    
    
    padding: 1px 40px;
    padding-top: 10px;
    
  }
  
  .put_block2 {
   
    padding: 1px 40px;
    padding-top: 10px;
  }


}

@media screen and (min-width: 992px) and (max-width:1199px) {


  .purchase_under_bg_block {
    display: inline-block;
    background: rgb(162, 221, 255);
    width: 300px;
    height: 360px;
    border-radius: 20px;
    
  }
  
  .purchase_under_bg_block2 {
    display: inline-block;
    background: rgb(255, 111, 159);
    width: 300px;
    height: 360px;
    border-radius: 20px;
    
  }

  .put_block {
    
    
    padding: 1px 60px;
    padding-top: 10px;
    
  }
  
  .put_block2 {
   
    padding: 1px 60px;
    padding-top: 10px;
  }

}

@media screen and (max-width: 448px) {
  .purchase_upper_text p{
    font-size: 20px;
  }
}


@media screen and (max-width: 364px) {
  .purchase_upper_text p{
    font-size: 15px;
  }
 
 }





/*purchase UP*/















/*sponsors DONW*/

.sponsors {
  background: rgb(240, 240, 240);
  margin-top: 200px;
}


.sponsors_img_div img {
  
  max-width: 25%;
  min-width: 25%;
}

.sponsors_img {
  margin-top: 100px;
  margin-bottom: 150px;
  
}


@media screen and (min-width: 768px) and (max-width: 991px) {

  .sponsors_img_div img {
    max-width: 180px;
  }


}


@media screen and (min-width: 992px) and (max-width: 1199px) {

 
  .sponsors_img_div img {
    min-width: 220px;
  }

}

@media screen and (max-width: 767px) {

  .sponsors_img_div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sponsors_img_div img {
    max-width: 300px;
  }
  
  .sponsors_img_margin {
    margin-bottom: -70px;
  }

}





/*sponsors UP/



/*footer DOWN*/

.footer {
  background: linear-gradient( to bottom, rgb(61, 61, 61), black);

  
}

.footer_inside {
  padding-top: 60px;
}


.footer_left img {

  max-width: 55%;
  margin-bottom: 20px;
}

.footer_left p {
  color: rgb(224, 224, 224);
  font-size: 15px;
}

.footer_links {
  margin-top: 20px;
  color: rgb(224, 224, 224);
}

.footer_links_item:hover .footer_link {
  color: rgb(200, 210, 255);
  text-decoration: none;
}


.footer_links_item a{
  color: rgb(224, 224, 224);
  margin-right:13px;
}
  

.footer_mid_left_main_text {
  text-transform: uppercase;
  font-size: 18px;
}

.footer_line {
  position: absolute;
  z-index: 2;
  
  display: inline-block;
  background: pink;
  
  padding: 1px 40px;
  margin-left: 2px;

  
  
}

.footer_left_main_links_item {
  margin-right: 30px;
}

.footer_left_main_links {
  margin-top: 45px;
}

.footer_links {
  margin-bottom: 50px;
}

.footer_link {
  
  text-transform: uppercase;
  color: rgb(224, 224, 224);
  
  
}

.footer_left_main_links_right {
  margin-bottom: 50px;
}
.footer_left_main_links_left {
  margin-bottom: 50px;
}

.footer_left_main_links_item:hover .footer_link {
  color: rgb(224, 224, 224);
}

.footer_left_main_links_item {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer_contact {
  margin-top: 20px;
}

.footer_contact_4block {
  margin-top: 4px;
}

.footer_contact_text3 {
  margin-top: 10px;
  font-size: 14px;
  margin-left: 10px;
  color: rgb(224, 224, 224);
}

.footer_contact_text2 {
  margin-top: 10px;
  font-size: 14px;
  margin-left: 10px;
  color: rgb(224, 224, 224);
}


.footer_contact_block {
  display: inline-block;
  border: 1px solid rgb(159, 169, 255);
  padding: 5px 10px;
 
  border-radius: 50%;
}

.footer_contact_block:hover .footer_contact_a {
  text-decoration: none;
  color: rgb(255, 132, 132);
}

.footer_contact_a {
  color: white;
}

.footer_contact_text {
  padding-left: 10px;
  margin-bottom: -10px;
  
}

.footer_contact_text p {
  color: rgb(224, 224, 224);
  font-size: 14px;
}


.footer_contact1{
  margin-top: 40px;
}

.footer_news_img {
  margin-top: 50px;
}

.footer_news_img img {
  width: 30%;
  margin-right: 20px;
}

.footer_news_img p {
  font-size: 14px;
}

.footer_news_line {
  display: inline-block;
  background: white;
  height: 30px;
  width: 1px;
  margin-right: 10px;
}

.footer_news_a p {
  margin: 0 10px;
}

.footer_news_div:hover .footer_news_link {
  text-decoration: none;
  color: pink;
}

.footer_news_a a{
  color: pink;
}
.footer_news_a {
  margin-top: 20px;
}


.news_long_line {
  display: block;
  margin: 10px 0;
  padding: 1px 0;
  background: rgb(104, 104, 104);
}

.news_link_view_div:hover .news_link_view {
  color: #5dceff;
}

.news_link_view {
  color: #5dceff;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: underline;
  margin-bottom: 50px;
}


.footer_last_text {
  margin-top: 80px;
  font-size: 15px;
  color: rgb(212, 212, 212);
}

.link_dc{
  color: rgb(212, 212, 212);
  margin: 0 10px;
}

.footer_last_link:hover .link_dc {
  color: pink;
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer_img  {
    min-width: 130px;
  }

  .footer_link {
    font-size: 12px;
  }

 

    .footer_left_main_links_left {
      margin-right: -10px;
    }


    .footer_news_img {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    .footer_news_img img {
      min-width: 90px;
      max-height: 60px;
      margin-bottom: 10px;
    }

    .footer_news_img p {
      margin-bottom: -1px;
    }

    .footer_contact_text p {
      font-size: 12px;
    }
    
    .footer_contact_text2 {
      font-size: 13px;
    }


  }

/*footer UP*/